        /* color: #f9ca24 */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        button {
            background-color: transparent;
            box-shadow: none;
            border: none;
            cursor: pointer;
        }
        
        button:focus {
            outline: 0;
        }
        
        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            background:  lightsteelblue;
        }

        #navbar {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            height: 60px;
            margin: 0;
            padding: 0;
            list-style: none;
            background: lightsteelblue;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            font-weight: 300;
        }
        
        #navbar li {
            position: relative;
            float: left;
            line-height: 60px;
            background: inherit;
            text-align: center;
            transition: all .2s;
          box-sizing:border-box;
          border:2px solid lightsteelblue;
          border-radius:4px;
          margin:5px;
          
        }
        
        #navbar li a {
            position: relative;
            display: block;
            padding: 0 20px;
            line-height: inherit;
            color: white;
            text-decoration: none;
        }
        
        #navbar li:hover {
          border:2px solid #fff;
          transition: 1s ease-out all;
          border-radius:4px;
        }

        #navbar .active {
            background-color:#fff;
            border:2px solid #fff;
            border-radius:4px;
            color:lightsteelblue;
        }

        #navbar .active a {
            color:rgb(19, 84, 170);
        }
        
        
        .hero-text-box {
            margin: 20px auto;
            text-align: center;
        }
        
        .player {
            width: 300px;
            margin: 0 auto;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            border-radius: 15px;
            -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
            font-family: 'Varela Round', sans-serif;
        }

        .player p {
            padding:15px;
        }
        
        iframe {
            width: 80%;
            margin: 0 auto;
        }
        
        .artwork-img {
            width: 280px;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;
        }
        
        .artwork-img img {
            width: 100%;
            border-radius: 15px;
            box-shadow: 0 10px 6px -6px #a9a9a9;
            display: block;
            max-width: 100%;
        }
        
        .song-info {
            font-family: 'Varela Round', sans-serif;
            padding:2px;
            text-align:center;
            font-size:16px;
        }
        
        #title {
            font-family: 'Varela Round', sans-serif;
            font-size:24px;
            font-weight:bold;
            padding:7px;
        }
        
