        /* color: #f9ca24 */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        button {
            background-color: transparent;
            box-shadow: none;
            border: none;
            cursor: pointer;
        }
        
        button:focus {
            outline: 0;
        }
        
        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 100%;
        }
        
        body {
            height: 100%;
            background:  lightsteelblue;
        }

        #navbar {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            height: 60px;
            margin: 0;
            padding: 0;
            list-style: none;
            background: lightsteelblue;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            font-weight: 300;
        }
        
        #navbar li {
            position: relative;
            float: left;
            line-height: 60px;
            background: inherit;
            text-align: center;
            transition: all .2s;
          box-sizing:border-box;
          border:2px solid lightsteelblue;
          border-radius:4px;
          margin:5px;
          
        }
        
        #navbar li a {
            position: relative;
            display: block;
            padding: 0 20px;
            line-height: inherit;
            color: white;
            text-decoration: none;
        }
        
        #navbar li:hover {
          border:2px solid #fff;
          transition: 1s ease-out all;
          border-radius:4px;
        }

        #navbar .active {
            background-color:#fff;
            border:2px solid #fff;
            border-radius:4px;
            color:lightsteelblue;
        }

        #navbar .active a {
            color:rgb(19, 84, 170);
        }
        
        
        .hero-text-box {
            margin: 20px auto;
            text-align: center;
        }
        
        .player {
            font-family: 'Varela Round', sans-serif;
            text-align: center;
            background-color: #fff;
            color: #333;
            padding: 10px; 
            position: absolute;
            bottom: 0px;
            margin:1%;
            display:block;
            width:98%;
            /* old */
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }

        .player p {
            padding:15px;
        }
        
        iframe {
            width: 80%;
            margin: 0 auto;
        }
        
        .song-info {
            padding:2px;
            text-align:center;
            font-size:18px;
        }
        
        #title {
            font-size:24px;
            font-weight:bold;
            padding:7px;
        }
        
        